/* Estilo Geral*/

body {
    background-color: #000000;
    height: 100vh;
}

.interface {
    max-width: 1280px;
    margin: 0 auto;
}

.interface p {
    color: #fff;
    margin-top: 0;
}

button:hover,
form .btn-enviar input:hover {
    box-shadow: 0px 0px 8px #F58025;
    transform: scale(1.05);
}

.flex {
    display: flex;
}

.logo img {
    width: 100px;
    /* Defina a largura desejada */
    height: auto;
    /* Mantém a proporção da imagem */
}

.img-topo-site img {
    width: 350px;
    /* Defina a largura desejada */
    position: relative;
    left: -60px;
}

h2.titulo {
    color: #fff;
    font-size: 38px;
    text-align: center;

}

h2.titulo span {
    color: #F58025
}

/* ESTILO DO CABEÇALHO */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 0%;
    background-color: #000; /* ou a cor que preferir, evita transparência */
    z-index: 1000;
}

header .logo .cv a{
    color: #fff;
    margin-top: -20px;
    text-decoration: none;
}


header .menu-desktop a {
    color: #7d7d7d;
    font-size: 25px;
    text-decoration: none;
    display: inline-block;
    transition: .2s;
}

header a:hover {
    color: #fff;
    transform: scale(1.05);
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    padding: 0 40px;
}

.btncontato button {
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    background-color: #F58025;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    transition: .2s;
}



.topo-do-site .img-topo-site img {
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;
}

@keyframes flutuar {
    0% {
        top: 0;
    }

    100% {
        top: 30px;
    }
}

/* ESTILO DO TOPO DO SITE */

section.topo-do-site {
    padding: 250px 4%;


}

section.topo-do-site .flex {
    align-items: center;
    justify-content: center;
    gap: 90px
}

.topo-do-site h1 {
    color: #fff;
    font-size: 42px;
    line-height: 50px;
}

.topo-do-site P {
    color: #fff;
    font-size: 22px;
    margin: 40px 0;
}

/* ESPECIALIDADES */

section.especialidades {
    padding: 40px 4%;

}

.especialidades .especialidades-box {
    display: block;
    color: #fff;
    padding: 40px;
    border-radius: 20px;
    border: 2px solid #ffffff5b;
    margin-top: 45px;
    transition: .2s;
}

.especialidades-box:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px #fffffff8;
}


.especialidades .especialidades-box i {
    font-size: 70px;
    color: #F58025;

}

.especialidades .especialidades-box img {
    width: 60px;
    height: auto;
    margin-bottom: 10px;
}

.especialidades .especialidades-box h3 {
    font-size: 28px;
    margin: 15px 0;
}

.especialidades .especialidades-box p {
    font-size: 22px;
    text-align:left;
    line-height: 150%;
}
.flex {
    gap: 60px;
    display: flex;
    justify-content: center;
    /* ou center, dependendo do seu gosto */
}


/* SOBRE */
section.sobre {
    padding: 80px 4%;

}

section.sobre .flex {
    align-items: center;
    gap: 60px;
}

.sobre .txt-sobre {
    color: #fff;
}

.sobre .txt-sobre h2 {
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 30px;
}

.sobre .txt-sobre h2 span {
    color: #F58025;
    display: block;
}

.sobre .txt-sobre p {
    margin: 20px 0;
    font-size: 20px;
    text-align: justify;
}

.sobre img {
        
    width: 400px;
        /* Defina a largura desejada */
    position: relative;
    left: -60px;
    border-radius: 30px;
    }

.btn-social button {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 0;
    background-color: #F58025;
    font-size: 30px;
    cursor: pointer;
    margin: 0 5px;
    transition: .2s;
}


/*PORTIFÓLIO*/

section.portifolio {
    padding: 80px 4%;
    box-shadow: 0 0 40px 10px #ffffff1f;
}

section.portifolio .flex {
    justify-content: space-around;
    margin-top: 60px;
}

.img-port {
    width: 360px;
    height: 460px;
    background-size: cover;
    background-position: 0% 100%;
    transition: 10s;
    cursor: pointer;
    border-radius: 40px;
    position: relative;
}

.img-port:hover {
    background-position: 100% 100%;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000bd;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: 600;
    color: #fff;
    opacity: 0;
    transition: .5s;
}

.overlay:hover {
    opacity: 1;
}

/* FORMULÁRIO */

section.formulario {
    padding: 80px 4%;

}

form {
    max-width: 400px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    margin-top: 40px;
}

form input,
form textarea {
    width: 100%;
    background-color: #383838;
    border: 0;
    outline: 0;
    padding: 20px 15px;
    border-radius: 15px;
    color: #fff;
    font-size: 18px;
}

form textarea {
    resize: none;
    height: 150px;
}

form .btn-enviar {
    margin-top: 20px;
    text-align: center;
}

form .btn-enviar input {
    width: 120px;
    background-color: #F58025;
    color: #000000;
    font-weight: 700;
    cursor: pointer;
    transition: .2s;
}


/* RODAPÉ */

footer {
    padding: 40px 4%;
    box-shadow: 0 0 40px 10px #ffffff1f;
}

footer .flex {
    justify-content: space-between;
}

.logo-footer img {
    width: 100px;
    /* Defina a largura desejada */

}

footer .line-footer {
    padding: 20px 0;
}

.borda {
    border-top: 2px solid #F58025;
}

footer .line-footer p i {
    color: #F58025;
    font-size: 22px;
}

footer .line-footer p a {
    color: #fff;
}

@media screen and (max-width: 1020px) {

    /* CLASSES GERAIS */
    .flex {
        flex-direction: column;
    }

    h2.titulo {
        font-size: 32px;
        line-height: 30px;
    }

    .topo-do-site .flex {
        flex-direction: column-reverse;
    }

    /* CABEÇALHO */
    .menu-desktop,
    .btncontato button {
        display: none;
    }

    /* TOPO DO SITE */

    section.topo-do-site .flex {
        gap: 40px;
    }

    section.topo-do-site {
        padding: 20px 8%;
    }

    .topo-do-site h1 {
        font-size: 30px;
        text-align: center;
    }

    .topo-do-site .img-topo-site img {
        width: 100%;
    }

    /* ESPECIALIDADES */

    section.especialidades {
        padding: 40px 8%;
        text-align: center;
    }

    /* SOBRE */

    section.sobre {
        padding: 80px 8%;

    }

    .sobre .txt-sobre h2 {
        font-size: 34px;
        line-height: 35px;
        text-align: center;
    }

    .btn-social {
        text-align: center;
    }

    .img-sobre img {
        width: 100%;
    }

    /* PORTIFÓLIO */

    section.portifolio {
        padding: 80px 8%;
    }

    .img-port {
        width: 100%;
        max-width: 360PX;
        margin: 0 auto;
    }

    section.portifolio .flex {
        gap: 40px;
    }

    /* FORMULÁRIO */
    section.formulario {
        padding: 60px 15%;
        text-align: center;
    }

    /* RODAPÉ */

    footer {
        flex-direction: column;
    }
    footer .line-footer {
        text-align: center;
    }
}

/* FONTES */
header>.interface {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
}


.poppins-extralight {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
}

.poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.poppins-extrabold {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
}

.poppins-black {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
}

.poppins-thin-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: italic;
}

.poppins-extralight-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: italic;
}

.poppins-light-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: italic;
}

.poppins-regular-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.poppins-medium-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: italic;
}

.poppins-semibold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: italic;
}

.poppins-bold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: italic;
}

.poppins-extrabold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: italic;
}

.poppins-black-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: italic;
}
